body {
    font-family: 'Arvo', serif;
    background: #fefae0;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: auto 0 auto;
    grid-template-areas:
    "header-text header-text header-text"
    ". gamemodes-text ."
    "classic-btn sparta-btn troy-btn";
    width: 100%;
    min-width: 75vh;
    /*height: 6rem;*/
    padding: 3vh 0 2vh;
    background: #283618;
    text-align: center;
    font-size: 6rem;
    color: #E9C46A;
}

@media (min-width: 800px){
    header {
        display: grid;
        grid-template-columns: 33% 33% 21% 12%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
    ". header-text . gamemodes-text"
    ". header-text . classic-btn"
    ". header-text . sparta-btn"
    ". header-text . troy-btn";
    }

    #gamemodes-text{
        grid-area: gamemodes-text;
        visibility: visible !important;
        margin: 0 0 0.5vh;
        font-size: 1rem;
    }
}

#header-text {
    grid-area: header-text;
}

#gamemodes-text{
    grid-area: gamemodes-text;
    visibility: hidden;
    margin: 0 0 0.5vh;
    font-size: 1rem;
}

#classic-btn {
    grid-area: classic-btn;
}

#sparta-btn {
    grid-area: sparta-btn;
}

#troy-btn {
    grid-area: troy-btn;
}

.grid-item {
    /*border: 1px dotted #B823C1;*/
    margin: 0.2vh;
}

#classic-btn, #sparta-btn, #troy-btn{
    padding: 0.4rem 0 0.4rem;
    border-radius: 5px;
    border: none;
    background: #fefae0;
    color: #283618;
    font-family: 'Arvo', serif;
    font-weight: bold;
    cursor: pointer;
}

#classic-btn:hover, #sparta-btn:hover, #troy-btn:hover{
    background-color: #E9C46A;
}

#heaven-black, #heaven-white {
    height: 5vh;
    font-size: 4vh;
    margin: auto;
    text-align: center;
}

#pawns-white, #rooks-white, #knights-white, #bishops-white, #queen-white,
#pawns-black, #rooks-black, #knights-black, #bishops-black, #queen-black{
    display: inline-block;
    margin: 0;
    width: max-content;
}

#game-wrapper{
    display: flex;
    border: 1px solid green;
}

table {
    margin: auto;
    width: 67vh;
    height: 67vh;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3vh solid #693f09;
    background: whitesmoke;
}

td {
    width: 8.375vh;
    height: 8.375vh;
    font-size: 6vh;
    text-align: center;
    background: #fefae0;
}

#a1, #a3, #a5, #a7,
#b2, #b4, #b6, #b8,
#c1, #c3, #c5, #c7,
#d2, #d4, #d6, #d8,
#e1, #e3, #e5, #e7,
#f2, #f4, #f6, #f8,
#g1, #g3, #g5, #g7,
#h2, #h4, #h6, #h8{
    background: #E9C46A;
}

.hover {
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.valid-fields {
    border: 0.4vh solid lightgreen;
}

.valid-targets{
    border: 0.4vh solid darkred;
}

.promotion-field{
    border: 0.4vh solid purple;
}

.check{
    background: #ff6d00 !important;
}

.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

@keyframes animation_blink {
    0% { color: rgba(0,0,0) }
    50% { color: rgba(0,0,0, 0.2) }
    100% { color: rgba(0,0,0) }
}

#announce-winner, #announce-stalemate {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0 0 80% 0;
    margin: auto;
    height: 15vh;
    width: 67vh;
    border-radius: 1.5vh;
    box-shadow: 0px 0px 6px 2px #666;
    border: 1.5vh solid #eeba0b;
    background-color: #fefae0;
    color: #283618;
    text-align: center;
    text-transform: capitalize;
    font-size: 3vh;
    white-space: pre-line;
}

#win-message, #stalemate-message{
    margin: 2vh 0 1vh 0;
}

.rematch-btn{
    margin: 0 0 1vh 0;
    padding: 0.5vh 1vh 0.5vh 1vh;
    font: inherit;
    font-size: 2vh;
    font-weight: bold;
    color: #E9C46A;
    background: #283618;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confetti-container {
    user-select: none;
    pointer-events: none;
    z-index: 10;
}

.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: none;
}

.confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg);
}

.confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
}

.confetti .hexagram {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid var(--bg);
    position: relative;
}

.confetti .hexagram:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid var(--bg);
    position: absolute;
    top: 0.33rem;
    left: -0.5rem;
}

.confetti .pentagram {
    width: 0rem;
    height: 0rem;
    display: block;
    margin: 0.5rem 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    position: relative;
}
.confetti .pentagram:before {
    border-bottom: 0.8rem solid var(--bg);
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45rem;
    left: -0.65rem;
    display: block;
    content: "";
    transform: rotate(-35deg);
}
.confetti .pentagram:after {
    position: absolute;
    display: block;
    color: var(--bg);
    top: 0.03rem;
    left: -1.05rem;
    width: 0rem;
    height: 0rem;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.confetti .dodecagram {
    background: var(--bg);
    width: 8px;
    height: 8px;
    position: relative;
}

.confetti .dodecagram:before {
    content: "";
    height: 8px;
    width: 8px;
    background: var(--bg);
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    left: 0;
}
.confetti .dodecagram:after {
    content: "";
    height: 8px;
    width: 8px;
    background: var(--bg);
    transform: rotate(60deg);
    position: absolute;
    top: 0;
    left: 0;
}

.confetti .wavy-line {
    position: relative;
}
.confetti .wavy-line::after,
.confetti .wavy-line::before {
    content: "";
    height: 10px;
    width: 80px;
    background-size: 20px 10px;
    position: absolute;
    left: -9rem;
    transform: rotate(90deg);
}

.confetti .wavy-line::before {
    background-image: linear-gradient(
            45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%
    );
    top: 1rem;
}
.confetti .wavy-line::after {
    background-image: linear-gradient(
            -45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%
    );
}

.confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-duration: calc(60s / var(--speed));
}

.confetti i:nth-child(even) {
    transform: rotate(90deg);
}

@keyframes confetti {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}